/* Set the background color for my page: */
body{
    background-color: rgb(150, 150, 150);
 
}

/* Choose the appearance of the tags, h1, h3 and p: */
 p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    max-width: 750px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3 {
    text-align: center;
    font-family: calibri;
}