/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Set the background color for my page: */
body{
    background-color: rgb(150, 150, 150);
 
}

/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3 {
    text-align: center;
    font-family: calibri;
}

p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    max-width: 750px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(150, 150, 150);
}


/* Set the apperance of the class, chart */
.chart{
    
    width: 100%;
    text-align: center !important;
    align-items: center;
    justify-content: center !important;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center !important;
    vertical-align: bottom;
    text-align: center !important;
    align-content: center;
    max-width: 90%;
    margin:auto;
    max-width: 1200px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    font-size: xx-small;
    letter-spacing: 0.1px;
  }
  .grid-item {
    
    padding: 10px;
    text-align: center; 
    border-width: .2em;
    height: 250px; /* can do %s here too! */
    width: 300px;
    display: inline-block !important;
    min-width: 280px;
    font-size: 10px;
    margin: 0 auto;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }